<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scraped Mars Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        
        <div class="jumbotron text-center">
            <h1>Mission To Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    
        <div class="row">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ mars_data.news_title }}</h4>
            <p class="card-text">{{ mars_data.news_p }}</p>
        </div>
        </div>
        </div>
        <br></br>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <img class="card-img-top" src=" {{ mars_data.featured_image_url }} " alt="Card image cap">
                    <h4 class="card-title">Featured Mars Image</h4>
                </div>
            </div>    
            <div class="col-md-6">
                {{mars_data.table_html_string | safe}}
            </div>
        </div>
        <br></br>

        <div class="row">       
            {% for hemisphere in mars_data.hemisphere_image_urls %} 
              <div class="col-6 border">
              </br>
                    <div>
                      <img width="512 px" height="512 px" src="{{ hemisphere.img_url | safe }}">
                    </div>

                    <div>
                      <h4> {{ hemisphere.title | safe }} </h4>  
                    </div>
            
              </div>
            {% endfor %}
    </div> 
    
    </div>
    


    

</body>
</html>
